.container {
  margin: 10px;
}

.artist-btn {
  margin-right: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: orange;
}

p {
  font-weight: bold;
}
 img {
   margin-bottom: 10px;
 }

#formDiv {
  float: right;
}
